body{
	font-family: 'Ubuntu', sans-serif;
}

div{
	background-color: #2F98AF;
}
table{
	font-family: 'Ubuntu', sans-serif;
}

h1, h3 {	
	color: white;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

button{
	color: white;
}

.panel-heading{
	background-color: black;
}